
ion-card {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}


  .card-content {
    color:black;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Add scrollbars if content overflows vertically */
    max-height: 80vh; /* Adjust the maximum height as desired */
  }
  
  pre {
  
    background-color: white;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  

.header-toolbar {
  font-weight: bold;
  height: auto;
  font-size: 10px;
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
}

.custom-image {
  --background: rgba(255, 255, 255, 0.686);
}

