
 ion-card{
  background-color: white;
 }
 ion-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
 ion-item {
  --background: transparent;
  --color: black;
  --ion-item-background: transparent;
  --ion-color-base: transparent;
  --ion-color-primary: transparent;
  --ion-color-primary-contrast: transparent;
  margin-top: 20px;
}
  .card-content {   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    --background: transparent;
    --color: black;
    --ion-item-background: transparent;
    --ion-color-base: transparent;
    --ion-color-primary: transparent;
    --ion-color-primary-contrast: transparent;
  }

.header-toolbar {
  font-weight: bold;
  height: auto;
  font-size: 10px;
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
}

.custom-image {
  --background: white;
}

pre {
  color:black;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-wrap: break-word;
}
