<ion-header>
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="showResults">
    <ion-item *ngFor="let data of matchingData">
      <ion-label>
        <h1>College/Department: {{ data.dept }}</h1>
        <h2>Type of Violation: {{ data.violation }}</h2>
        <h2>Username: {{ data.srcode }}</h2>
        <p>Status: {{ data.status }}</p>
        <p>Last Modified:{{ data.timestamp }}</p>
        <ion-button size="small" (click)="openReportModal(data.report,data.violation)">
          Show Report
        </ion-button>

        <ion-button size="small" (click)="openReportModal1(data.report,data.violation)">
          Change Status
        </ion-button>

      </ion-label>
    </ion-item>
    <ion-item *ngIf="matchingData.length === 0">
      <ion-label>No results found for the entered username.</ion-label>
  </ion-item>
</ion-list>
</ion-content>
