ion-content {
  --ion-background-color: rgba(255, 255, 255, 0.8);

  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}
.icons{
  color: rgb(255, 255, 255);
}

.lop{ background-color: rgb(255, 255, 255);}

.menu{
  --background: transparent;
}

ion-image{
  border: 0px;
}

ion-icon {
  color: rgb(0, 0, 0);
  }
.forms-item {   
  border-bottom: 1px solid black;
}

.forms{
--background: rgba(255, 255, 255, 0.236);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  height: 100%;
}

.header-toolbar {
  font-weight: bold;
  height: auto;
  font-size: 10px;
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));

}

.background{
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
}
.center { 
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-right: 0;
}

.profile-pic {
  width: 300px;
  height: 250px;

 
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px, 0px, 20px, 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255);
}

.font {
  font-size: small;
  text-align: center;
  font-weight: bold;
  margin-right: 0;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  --background: transparent;
}

.button-dl{
  --background: rgb(19, 196, 43);
  font-size: 10px;
  font-weight: bold;
}

.ion-toolbar-right {
  display: flex;
  justify-content: flex-end;
}

ion-item, .no-border {
  margin-bottom: 0; /* Remove the bottom margin */
  padding-bottom: 0; /* Remove the bottom padding */
  --background: transparent;
  --color: black;  
  --border-style: none; /* Remove border style */
 }

.no-border {
  margin-bottom: 0; /* Remove the bottom margin */
  padding: 10px, 0px, 10px, 0px; /* Remove the bottom padding */
  font-weight: bold;
  color: black;
  text-align: center;
}

.background-image {
  position: relative;
}

.background-image::before {
  content: "";
  background: url('/assets/Alangilan.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(100%); /* Apply grayscale filter */
}

ion-title{
  color: aliceblue;
}

ion-card-title, .title{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(189, 14, 14);
  padding-bottom: 0;
  
}

ion-card-header{
  background-color: rgb(255, 255, 255);
}

ion-card-content{
  font-size: 14px;
  color: black;
  padding-top: 0;
  background-color: rgb(255, 255, 255);
}

ion-card {
  --border-radius: 0;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


.hide-item {
  display: none;
}
.num-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 10px;
  background:rgba(255, 255, 255, 0.671);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  --border-style: none; /* Remove border style */
  font-size: x-small;
  color: black;
  padding: 8px;
  text-align: left;

}

th { 
  white-space:nowrap; 
  background:transparent;
  font-weight: bold;
}

td:hover {
  background-color: #ff8d8dc5;
}

.report-custom{   
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  padding: 10px;
  background:rgba(255, 255, 255, 0.478);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  
}
.icon-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon {
  display: flex;
  flex-direction: row; /* Set flex-direction to row */
  align-items: center;
  font-size: small;

  ion-icon {
    margin-right: 5px; /* Add some space between the icon and the icon name */
  }
}

.icon-item {
  margin-bottom: 10px;
}

.icon-name {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.icon1{
  color: rgb(171,60,92);
}
.icon2{
  color: rgba(122,163,229,255);
}
.icon3{
  color: rgba(162,126,168,255);
}

.icon4{
  color: rgba(170,227,245,255);
}

.icon5{
  color: rgba(173,204,237,255);
}


.bar-fill {
  background-color: #007bff; /* Change color to your preference */
  transition: height 0.5s;
}

.report-custom {
  max-width: 548px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better visual appearance */

  /* Optional: Add a background color, border, and box-shadow */
  background-color: rgba(255, 255, 255, 0.532);
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.coord {
  padding: 10px;
  background: rgba(255, 255, 255, 0.532);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 300px;
  margin: 20px auto; /* Center the element horizontally */
  margin-bottom: 20px;
  display: block;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}