<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title>
      Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-list *ngIf="showResults">
    <ion-item *ngFor="let data of matchingData">
      <ion-label>
        <h1>College/Department: {{ data.dept }}</h1>
        <h2>Type of Violation: {{ data.violation }}</h2>
        <p>Status: {{ data.status }}</p>
        <p>{{ data.timestamp }}</p>
        <div class="container">
        <ion-button size="small" (click)="openReportModal(data.report,data.violation)">
          Show Report
        </ion-button>
        </div>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="matchingData.length === 0">
      <ion-label>No results found for the entered username.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>