


ion-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.background{
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));

}

/* Styling for ion-content */
ion-content {
  padding: 10px;
  
  --ion-background-color:rgba(255, 255, 255, 0.8);
  --ion-item-background:rgba(255, 255, 255, 0.8);


  display: flex;
  align-items: center;
  justify-content: center;

  
}
.header-toolbar {
  font-weight: bold;
  height: auto;
  font-size: 10px;
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
}
.custom-button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --background: rgb(19, 196, 43);
  color: rgb(255, 255, 255);
  margin-top: 16px;
  width: 200px; /* Set the width to a fixed value, adjust as needed */

}
  



.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  height: 100%;
}
ion-item {
  --border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.2); /* Increase the values for more visible shadow */
  padding: 10px;

}




/* Styling for h2 within ion-label */
ion-label h1 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* Styling for p within ion-label */
ion-label p {
  font-size: 13px;
  
}

h2{
  color: black;
font-size: 15px;

}

/* Styling for ion-ripple-effect */
ion-ripple-effect {
  color: green;
}

/* Styling for ion-item when no results found */
ion-item.no-results {
  border: none;
}

/* Styling for ion-label when no results found */
ion-label.no-results {
  text-align: center;
  color: #777;
}