<ion-menu side="start" contentId="main-content">
  <ion-header >
    <ion-toolbar class="header-toolbar">
      <ion-title class="header-title">Home</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <ion-menu-toggle (click)="openReportModal( user1?.violation,user1?.time )" auto-hide="false">
        <ion-item class="menu">
          <ion-icon slot="start" name="clipboard"></ion-icon>
          <ion-icon slot="end" name="caret-forward"></ion-icon>
          <ion-label>Sanctions</ion-label>
        </ion-item>
      </ion-menu-toggle>
  
      <ion-menu-toggle (click)="file()" auto-hide="false">
        <ion-item class="menu" >
          <ion-icon slot="start" name="file-tray-full"></ion-icon>
          <ion-icon slot="end" name="caret-forward"></ion-icon>
          <ion-label>File Complaint</ion-label>
        </ion-item>
      </ion-menu-toggle>
  
      <ion-menu-toggle auto-hide="false">
        <ion-item class="forms-item" (click)="toggleClass($event)">
          <ion-icon slot="end" name="caret-down"></ion-icon>
          <ion-icon slot="start" name="folder"></ion-icon>
          <ion-label>Forms</ion-label>
        </ion-item>
      </ion-menu-toggle>
 
  

      <ion-item class="forms"  [ngClass]="{'hide-item': isClassDisabled}">
        <ion-label>Formal Complaint Letter</ion-label>
        <ion-button class="button-dl" (click)="downloadFile()">
  
          Download
        </ion-button>
      </ion-item>
      <ion-item class="forms"[ngClass]="{'hide-item': isClassDisabled}">
        <ion-label >Request for New ID</ion-label>
        <ion-button class="button-dl"(click)="downloadFile1()">
        
          Download
        </ion-button>
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button class ="custom-text-button " (click)="logout()">
        <ion-icon class="icons"name="arrow-forward"></ion-icon>
        Sign-out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <div class="image-container">
    <ion-img [src]="user.profilePic" class="profile-pic"></ion-img>
  </div>
  <ion-item class="no-border">
    <ion-label class="center">{{ user?.name }}</ion-label>
  </ion-item>
  <ion-item class="no-border">
    <ion-label class="font">{{ user?.college }} - {{ user?.year }}</ion-label>
  </ion-item>


  <div class="num-container">
    <table>
      <tr>
        <th>Trunklines</th>
        <td><ion-icon name="call"></ion-icon></td>
      </tr>
      <tr>
        <td>PABLO BORBON</td>
        <td>(043) 779-8400</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8401</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8402</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8403</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8404</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8405</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 779-8406</td>
      </tr>
      <tr>
        <td>ALANGILAN</td>
        <td>(043) 425-0139</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 425-0143</td>
      </tr>
      <tr>
        <td>ARASOF-NASUGBU</td>
        <td>(043) 416-0349</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 416-0350</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 416-0068</td>
      </tr>
      <tr>
        <td>JPLPC-MALVAR</td>
        <td>(043) 778-2170</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 778-6633</td>
      </tr>
      <tr>
        <td></td>
        <td>(043) 406-0830</td>
      </tr>
      <tr>
        <th>Local Numbers and Emails</th>
        <td><ion-icon name="mail"></ion-icon></td>
      </tr>
      <tr>
        <td>Registrar</td>
        <td>pablo.borbon@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Alangilan</td>
        <td>registrar.alangilan@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Malvar</td>
        <td>registrar.malvar@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Nasugbu</td>
        <td>registrar.nasugbu@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>ICT Services</td>
        <td>ict.pb@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Alangilan</td>
        <td>ict.alangilan@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Malvar</td>
        <td>ict.malvar@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Nasugbu</td>
        <td>ictsupport.nasugbu@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Lipa</td>
        <td>ict.lipa@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Balayan</td>
        <td>ict.balayan@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Lemery</td>
        <td>ict.lemery@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>San Juan</td>
        <td>ict.sanjuan@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Rosario</td>
        <td>ict.rosario@g.batstate-u.edu.ph</td>
      </tr>
      <tr>
        <td>Lobo</td>
        <td>ict.lobo@g.batstate-u.edu.ph</td>
      </tr>
    </table>
  </div>

</ion-content>