
ion-content{

    --ion-background-color:rgba(255, 255, 255, 0.8);
    --ion-item-background:rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  
    
  }

  .background{
    --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
  
  }