<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>File Complaint</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-select placeholder="Select a Department">
          <ion-select-option value="option1">College of Engineering</ion-select-option>
          <ion-select-option value="option2">College of Architecture, Fine Arts and Design</ion-select-option>
          <ion-select-option value="option3">College of Informatics and Computing Sciences </ion-select-option>
          <ion-select-option value="option4">College of Industrial Technology </ion-select-option>
        </ion-select>
        <ion-select placeholder="Select Type of Grievance">
          <ion-select-option value="option1">Class Policies</ion-select-option>
          <ion-select-option value="option2">Option 2</ion-select-option>
          <ion-select-option value="option3">Option 3</ion-select-option>
          <ion-select-option value="option4">Option 4</ion-select-option>
          <ion-select-option value="option5">Option 5</ion-select-option>
          <ion-select-option value="option6">Option 6</ion-select-option>
        </ion-select>
        <ion-input placeholder="Enter your text"></ion-input>
        
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content>