<ion-header>
  <ion-toolbar>
    <ion-title>
      LawyerLink
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" >Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">  Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" >Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>