<ion-content class="background-image">
  <div class="form">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
            <img src="/assets/LOGO.png" alt="Logo">
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 class="login-title">Grievance System Login</h2>
          <form (ngSubmit)="validateForm()">
            <ion-item>
              <ion-input label="Username" labelPlacement="floating" type="text" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Password" labelPlacement="floating" type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <ion-label>* Password is case sensitive</ion-label>
            <div class="form-footer">
              <button type="submit" class="sign-in">Sign In</button>
            </div>
            <div *ngIf="loginFailed" class="login-error">
              Invalid username or password
            </div>
          </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
