#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height if needed */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: rgb(255, 255, 255);

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  --background: #28a745;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;


  
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;


 

  --ripple-color: deeppink;

  
  --padding-top: 10px;
  --padding-bottom: 10px;
  
  width: 200  px;
 
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

ion-toolbar{
  --background: linear-gradient(to right, rgba(189, 21, 21, 0.692), rgba(255,0,0,1));
}

ion-content{

  --ion-background-color:rgba(255, 255, 255, 0.8);
  --ion-item-background:rgba(255, 255, 255, 0.8);
 

  
}

ion-label,
ion-input {
  color: black !important;
  


}

ion-item {
  --ion-background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;


}

ion-card{
  width: 340px;
  height: 250px;
  text-align: center;
      
  background-color: rgba(255, 255, 255, 0.8);

}

ion-col{
  text-align: center;
}

.background-image {
  --background: url('/assets/Alangilan.jpg') no-repeat center center fixed;


  
}
.background-image1 {
  --background: #e2e2e2;


  
}
.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
  
